@model MyWebSite.Models.Intervento

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Intervento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tipo Intervento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoIntervento)
        </dd>
        <dt class = "col-sm-2">
            Data Apertura
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataIntervento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Completato)
        </dt>
        <dd class = "col-sm-10">
             @{
                string Esito = "";
                if ((bool) Model.Completato! == false ) Esito = "Non Completato";
                else Esito = "Completato";
            }
            @Esito
            @*@Html.DisplayFor(model => model.Completato)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Azienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Azienda.NomeAzienda)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InterventoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Vai storico interventi</a>
    </form>
</div>
