@model MyWebSite.Models.Intervento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Intervento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tipo Intervento
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoIntervento)
        </dd>
        <dt class="col-sm-2">
           Data Apertura
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataIntervento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Completato)
        </dt>
        <dd class="col-sm-10">
            @{
                string Esito = "";
                if ((bool) Model.Completato! == false ) Esito = "Non Completato";
                else Esito = "Completato";
            }
            @Esito
            @* @Html.DisplayFor(model => model.Completato)*@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Azienda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Azienda.NomeAzienda)
        </dd>
    </dl>
</div>
<div>
    <a class="bg-warning fw-bold text-black text-decoration-none py-1 px-2 rounded" 
    asp-action="Edit" asp-route-id="@Model?.InterventoId">Modifica </a> |
    <a asp-action="Index">Vai storico interventi</a>
</div>
